<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customersdb</title>
</head>
<body>
    <p>CUSTOMERS TABLE</p>
    <table>
        <tr>
            <th>ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL PRICE</th>
            <th>PHONE</th>
        </tr>

        
            {% for prods in customers%}
<tr>
<td>{{customers[0]}}</td>
<td>{{customers[1]}}</td>
<td>{{customers[2]}}</td>
<td>{{customers[3]}}</td>
<td>{{customers[4]}}</td>
</tr>
{% endfor %}

    </table>
</body>
</html>


