<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Greetings from WairiCompany </h>

        <p></p>

        
        <h2> my name is <strong> {{ name }}</strong></h2>
        
        <p style=align-content:center; aria-current="true" ></p>
        ipsum dolor, sit amet <br>
        consectetur adipisicing elit. <br>
        Laudantium alias consequuntur <br>
        excepturi. Maxime dolores quos <br>
        corporis labore et incidunt <br>
        nesciunt distinctio pariatur <br>
        saepe quisquam. Nesciunt <br>
        libero incidunt in aliquid eius!<br>
    </br>

</body>
</html>